@use "sass:math";

footer {
  background-color: #f2f2f2;
  margin-top: math.div(64rem, 16);
  padding-block: 2rem 1rem;
  @include md {
    margin-top: math.div(104rem, 16);
  }
  .buero__wrapper {
    gap: 2rem;
  }
}
