@use "sass:math";

#team-intro {
  margin-block: math.div(64rem, 16);
  @include md {
    margin-block: math.div(104rem, 16);
  }
  h2 {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }
  img {
    padding-top: 1rem;
  }
  .job {
    padding-block: 0.5rem 1rem;
    font-size: 1rem;
  }
}
